<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
{% load fieldnames %}
<html lang="de">
<head>
    <title>{{ action }} a Hardware CI</title>
</head>
<body>
    <h1>{{ action }} a {{ prd.model }} ({{ prd.type }})</h1>
    <form action="" method="POST">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        <p><input type="submit" value="Speichern"></p>
    </form>
{% block content %}
{%for field in prd_fields %}
  <p>{{ prd|value_with_field:field }}</p>
{%endfor %}
{% endblock %}
</body>
</html>

